.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.home-subtitle {
  margin-bottom: 20px;
}

.home-text {
  max-width: 600px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.home-button {
  color: black;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}


