.explore-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 20px;
}

.home-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

.tabs-container {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 30px 0;
  flex-wrap: wrap;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.result-card {
  text-align: center;
  padding: 20px;
}