.home-container {
  max-width: 900px;
  margin: 80px auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  padding: 60px 40px;
  border-radius: 12px;
}

.home-logo {
  width: 300px;
  margin-bottom: 20px;
}

.home-subtitle {
  font-style: italic;
  margin-bottom: 30px;
}

.home-text {
  text-align: left;
  line-height: 1.6;
  font-size: 15px;
}

.home-final-line {
  font-weight: bold;
  margin-top: 20px;
}

.home-button {
  margin-top: 30px;
}

.explore-page,
.favorites-page {
  max-width: 1100px;
  margin: 60px auto;
  background: rgba(0,0,0,0.75);
  padding: 50px 40px;
  border-radius: 12px;
  text-align: center;
}

button {
  background: rgba(255, 255, 255, 0.353);
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-1px);
}