.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(225, 220, 220, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  color: black;
  padding: 30px;
  width: 500px;
  max-width: 90%;
  border-radius: 10px;
  position: relative;
  line-height: 1.6;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  cursor: pointer;
}